* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --grey: rgb(240, 240, 240);
    --orange: hsla(21, 89%, 52%, 100%);
    --blue: hsla(237, 100%, 25%, 100%);
    --light-blue: #A59AFF;
}  

img {
    max-width: 100%; 
    height: auto;
    object-fit: contain;
}
  
body {
    max-width: 1440px;
    min-block-size: 100vh;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    background: var(--white);
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: var(--blue);
}

li {
    list-style: none;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

h1 {
    color: var(--blue);
    padding-bottom: 1rem;
}

h2 {
    font-size: 3rem;
    padding-bottom: 2rem;
    color: var(--orange);
    text-align: center;
}

.button {
    background-color: var(--orange);
    color: var(--blue);
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 700;
}

.button:hover {
    background-color: var(--light-blue);
    color: var(--white);
    transition: .2s;
}

.hero, .info, .steps {
    width: clamp(375px, 100%, 1440px);
    justify-content: space-evenly;
    padding: 3rem;
    background-color: var(--grey);
}

.hero__box {
    width: clamp(375px, 40%, 720px);
}

.hero__box:nth-child(1) {
    align-content: center;
}

.hero__title {
    font-size: 3rem;
    line-height: 90%;
}

.hero__img {
    border-radius: 20px;
}

.info {
    background-color: var(--white);
    align-items: center;
}

.info__box {
    width: clamp(375px, 30%, 460px);
    padding: 1rem;
    text-align: center;
    color: var(--blue);
}

.info__box h3 {
    font-size: 4rem;
    font-weight: 900;
}

.info__box p {
    font-size: 2rem;
    font-weight: 500;
}

.steps {
    background-color: var(--blue);
    align-items: center;
}

.steps__img img{
    border-radius: 20px;
}

.steps__text__box h3 {
    font-size: 1.75rem;
    color: var(--orange);
}

.steps__text__box p {
    color: var(--white);
    font-size: 1rem;
}

.steps__text__box span {
    padding-right: 0.5rem;
}

.steps__text__box {
    padding-bottom: 1.5rem;
}

.about__hero {
    width: clamp(375px, 100%, 1000px);
    text-align: center;
    padding: 5rem 0;
    margin: 0 auto;
}

.about__hero p {
    font-size: 1.5rem;
    padding: 0 8rem;
}

.main__content {
    text-align: center;
    margin-bottom: 3rem;
}

.main__content button {
    margin-top: 3rem;
}

.login {
    margin: 3rem 0;
}

.form__login {
    width: 350px;
    height: 300px;
    border-radius: 20px;
    justify-content: center;
    padding: 2rem;
}

.form__login, .form__box {
    background-color: var(--blue);
    color: var(--orange);
    margin: 0 auto;
    font-weight: 600;
}

.form__login__item, .form__item {
    margin: 0.5rem;
    text-align: left;
}

.form__login input {
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    width: 270px;
    height: 40px;
}

.form__login button {
    width: 50%;
    margin: 0 auto;
    margin-top: 1rem;
}

/* form ong page */
.form {
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
}

.form__box {
    justify-content: space-between;
    width: clamp(375px, 100%, 1440px);
    height: auto;
    padding: 3rem 5rem;
    font-size: 1.5rem;
    margin: unset;
}

.form__item input {
    padding: 0.5rem;
    border: none;
    width: 450px;
    height: 40px;
}

.form__box button {
    margin-top: 1.5rem;
    max-width: 140px;
}

@media (max-width: 768px) {
    .hero__box:first-child {
       order: 2;
    }

    .hero__box:last-child {
       order: 1;
    }

    .hero {
        text-align: center;
    }

    .hero h1 {
        margin: 2rem 0;
    }

    .about__hero {
        padding: 5rem 2rem;
    }

    .about__hero p {
        padding: 0;
    }

    .form__item input {
        width: 300px;
    }

    .form__box {
    padding: 3rem 0.5rem;
    }
}

.info__box {
    margin: 1.5rem 0;
}