* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --grey: hsla(0, 0%, 85%, 100%);
    --orange: hsla(21, 89%, 52%, 100%);
    --blue: hsla(237, 100%, 25%, 100%);
    --light-blue: #A59AFF;
}  

img {
    max-width: 100%; 
    height: auto;
    object-fit: contain;
}
  
body {
    max-width: 1440px;
    min-block-size: 100vh;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    background: var(--white);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.flex {
    display: flex;
    
    align-items: center;
    flex-wrap: wrap;
}

h1 {
    color: var(--blue);
}

.button {
    background-color: var(--orange);
    color: var(--blue);
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
}

.hero {
    padding: 3rem 0;
    justify-content: space-evenly;
}

.hero__title {
    max-width: 400px;
    font-size: 3rem;
    margin-bottom: 24px;
    line-height: 90%;
}

.hero__img {
    max-width: 450px;
    border-radius: 20px;
}
.hero__box {
    max-width: 50%;
}