@import url("../style.css");

.ong {
    width: clamp(375px, 100%, 1440px);
    padding: 3rem;
    text-align: center;
}

.ong__text {
    margin-bottom: 5rem;
}

.ong__text h2{
    padding-bottom: 1rem;
}

.ong__text p {
    font-size: 1.25rem;
    padding-bottom: 1rem;
}

.ong__img {
    align-items: center;
    justify-content: space-evenly;
}

.ong__img__box p {
    color: var(--blue);
    font-weight: 600;
    padding-top: 0.5rem;
}