@import url("../style.css");

.perdidos {
    padding: 3rem;
    text-align: center;
}

.perdidos-list {
    gap: 2rem;
    justify-content: center;
    margin-bottom: 3rem;
}

.perdidos-card {
    background-color: var(--grey);
    border-radius: 8px;
    padding: 1.2rem;
    width: 300px;
    height: 300px;
    text-align: center;
}

.perdidos-card p {
    color: var(--blue);
    font-weight: 400;
    text-align: left;
    margin: 1rem 0;
}

.perdidos-card span {
    font-weight: 700;
    padding-bottom: 1rem;
}