@import url("../style.css");

.pets {
    padding: 3rem;
    text-align: center;
}

.pet-list {
    gap: 2rem;
    justify-content: center;
    margin-bottom: 3rem;
}

.pet-card {
    background-color: var(--grey);
    border-radius: 8px;
    padding: 1.2rem;
    width: 300px;
    height: 350px;
    text-align: center;
}

.pet-card p {
    color: var(--blue);
    font-weight: 400;
    text-align: left;
    padding: 2rem 0 1rem 0;
}

.pet-card span {
    font-weight: 700;
}